@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primaria: #000;
    --secundaria: #;
    --terciaria: #;
    --quaternaria: #;
 }
 
 
 body{
    font-family: 'Sour Gummy', sans-serif;
    
 }




